@charset "utf-8";
/*
 * Reset.less
 * Author: iRuxu
 * Creat: 2014/08
 * Update: 2018/03/22
 * Description: reset browser style
 * Manual: http://csslab.cc
 * Reference: github.com/necolas/normalize.css
 */
/*-------------------------------------
├   Document                           ┆
└------------------------------------*/
html {
  -webkit-overflow-scrolling: touch;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/*-------------------------------------
├   Sections                           ┆
└------------------------------------*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
section,
summary {
  display: block;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
iframe {
  border: none;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}
/*-------------------------------------
├   Embedded content                   ┆
└------------------------------------*/
audio,
video,
canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
template {
  display: none;
}
/*-------------------------------------
├   Text                           	   ┆
└------------------------------------*/
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
b,
strong {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*-------------------------------------
├   Forms                  			   ┆
└------------------------------------*/
input,
button,
select,
textarea {
  outline: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  *line-height: normal;
}
select {
  padding-right: 0 !important;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  display: table;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: normal;
  color: inherit;
  padding: 0;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[hidden] {
  display: none;
}
/*
 * Base.less
 * Author: iRuxu
 * Description: Base function,ie hack,quick layout
 * Manual: http://csslab.cc
 */
/*-------------------------------------
    ├   Font                              ┆
    └------------------------------------*/
/*-------------------------------------
    ├   Align                              ┆
    └------------------------------------*/
/*-------------------------------------
    ├   Text                              ┆
    └------------------------------------*/
/*-------------------------------------
    ├   Size                              ┆
    └------------------------------------*/
/*-------------------------------------
    ├   Display                            ┆
    └------------------------------------*/
.none {
  display: none;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.clip {
  overflow: hidden;
  *zoom: 1;
}
/*-------------------------------------
    ├   Layout                             ┆
    └------------------------------------*/
.fl {
  float: left;
  *display: inline;
}
.fr {
  float: right;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.fbox {
  display: table-cell;
  width: 5000px;
  *display: inline-block;
  *width: auto;
}
/*-------------------------------------
    ├   Position                           ┆
    └------------------------------------*/
.islocked {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.islocked body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*-------------------------------------
    ├   Image                              ┆
    └------------------------------------*/
/*-------------------------------------
    ├   Effect                             ┆
    └------------------------------------*/
/*-------------------------------------
    ├   Other                              ┆
    └------------------------------------*/
.iconfont {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-family: "iconfont";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  10% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  35% {
    -webkit-transform: scale(1, 1.7);
            transform: scale(1, 1.7);
  }
  40% {
    -webkit-transform: scale(1, 1.7);
            transform: scale(1, 1.7);
  }
  50% {
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}
@keyframes fade {
  10% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  35% {
    -webkit-transform: scale(1, 1.7);
            transform: scale(1, 1.7);
  }
  40% {
    -webkit-transform: scale(1, 1.7);
            transform: scale(1, 1.7);
  }
  50% {
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}
[data-language] code,
[class^="lang"] code,
pre [data-language],
pre [class^="lang"] {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-animation: fade-in 50ms ease-in-out 2s forwards;
          animation: fade-in 50ms ease-in-out 2s forwards;
}
[data-language] code.rainbow,
[class^="lang"] code.rainbow,
pre [data-language].rainbow,
pre [class^="lang"].rainbow {
  -webkit-animation: none;
          animation: none;
  -webkit-transition: opacity 50ms ease-in-out;
  -o-transition: opacity 50ms ease-in-out;
  transition: opacity 50ms ease-in-out;
}
[data-language] code.loading,
[class^="lang"] code.loading,
pre [data-language].loading,
pre [class^="lang"].loading {
  -webkit-animation: none;
          animation: none;
}
[data-language] code.rainbow-show,
[class^="lang"] code.rainbow-show,
pre [data-language].rainbow-show,
pre [class^="lang"].rainbow-show {
  opacity: 1;
}
pre {
  position: relative;
}
pre.loading .preloader div {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
pre.loading .preloader div:nth-of-type(1) {
  background: #0081f5;
  -webkit-animation: fade 1.5s 300ms linear infinite;
          animation: fade 1.5s 300ms linear infinite;
}
pre.loading .preloader div:nth-of-type(2) {
  background: #5000f5;
  -webkit-animation: fade 1.5s 438ms linear infinite;
          animation: fade 1.5s 438ms linear infinite;
}
pre.loading .preloader div:nth-of-type(3) {
  background: #9000f5;
  -webkit-animation: fade 1.5s 577ms linear infinite;
          animation: fade 1.5s 577ms linear infinite;
}
pre.loading .preloader div:nth-of-type(4) {
  background: #f50419;
  -webkit-animation: fade 1.5s 715ms linear infinite;
          animation: fade 1.5s 715ms linear infinite;
}
pre.loading .preloader div:nth-of-type(5) {
  background: #f57900;
  -webkit-animation: fade 1.5s 853ms linear infinite;
          animation: fade 1.5s 853ms linear infinite;
}
pre.loading .preloader div:nth-of-type(6) {
  background: #f5e600;
  -webkit-animation: fade 1.5s 992ms linear infinite;
          animation: fade 1.5s 992ms linear infinite;
}
pre.loading .preloader div:nth-of-type(7) {
  background: #00f50c;
  -webkit-animation: fade 1.5s 1130ms linear infinite;
          animation: fade 1.5s 1130ms linear infinite;
}
pre .preloader {
  position: absolute;
  top: 12px;
  left: 10px;
}
pre .preloader div {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
  opacity: 0;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
pre {
  border: 1px solid #eee;
  word-wrap: break-word;
  padding: 6px 10px;
  line-height: 19px;
  margin-bottom: 20px;
}
pre code {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
code {
  border: 1px solid #eaeaea;
  margin: 0px 2px;
  padding: 0px 5px;
  font-size: 12px;
}
pre,
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #333;
  background: #f9f9f9;
  border-radius: 3px;
}
pre,
pre code {
  font-size: 13px;
}
pre .comment {
  color: #aaa;
}
pre .support {
  color: #0086b3;
}
pre .tag,
pre .tag-name {
  color: navy;
}
pre .keyword,
pre .css-property,
pre .vendor-fix,
pre .sass,
pre .class,
pre .id,
pre .css-value,
pre .entity.function,
pre .storage.function {
  font-weight: bold;
}
pre .css-property,
pre .css-value,
pre .vendor-fix,
pre .support.namespace {
  color: #333;
}
pre .constant.numeric,
pre .keyword.unit,
pre .hex-color {
  font-weight: normal;
  color: #099;
}
pre .entity.class {
  color: #458;
}
pre .entity.id,
pre .entity.function {
  color: #900;
}
pre .attribute,
pre .variable {
  color: teal;
}
pre .string,
pre .support.value {
  font-weight: normal;
  color: #d14;
}
pre .regexp {
  color: #009926;
}
body {
  font-size: 14px;
  line-height: 2;
  background-color: #fff;
  color: #333;
}
a {
  color: #333;
}
.main {
  margin-left: 240px;
  padding: 20px;
}
.c-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  padding: 20px;
  background-color: #f7f7f7;
}
.c-sidebar-header {
  text-align: center;
  padding: 40px 0;
}
.c-sidebar-header .u-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.6;
}
.c-sidebar-header .u-title a {
  color: #0084ff;
}
.c-sidebar-header .u-link {
  text-decoration: underline;
  color: #666;
}
.c-sidebar-header .u-link:hover {
  color: #333;
}
.c-sidebar-list .u-list li {
  border-bottom: 1px solid #ddd;
}
.c-sidebar-list .u-list a {
  display: block;
  padding: 10px;
}
.c-sidebar-list .u-list a:hover {
  color: #0084ff;
}
.c-sidebar-list .u-list em {
  margin-left: 10px;
  color: #999;
}
.m-header {
  border-bottom: 1px solid #eee;
  position: relative;
  *zoom: 1;
}
.m-header .u-title {
  font-size: 40px;
  color: #444;
  text-align: center;
}
.m-header .u-srcode {
  font-family: Consolas;
  position: absolute;
  right: 0;
  bottom: 10px;
  color: #0084ff;
  border: 1px solid #eee;
  padding: 2px 5px;
  border-radius: 4px;
  line-height: 1.8;
  background-color: #f9f9f9;
}
.m-header .u-srcode:hover {
  background-color: #f7f7f7;
  border-color: #ddd;
}
code {
  display: block;
  font-family: Consolas;
}
table {
  table-layout: fixed;
  width: 100%;
  margin: 10px 0;
}
table th {
  background-color: #f9f9f9;
}
table th,
table td {
  border: 1px solid #eee;
  padding: 2px 10px;
}
table td:first-child {
  font-weight: bold;
  color: #0084ff;
}
